body{
    margin: 0;
    padding: 25px;
}

.outside1{
    width: 100%;
    border: 5px solid black;
    padding: 10px;
    box-sizing: border-box ;
}
.inside1{
    width: 50px;
    height: 150px;
    background-color: rgb(83, 7, 94);
    display: inline-block;
}
.inside2{
    width: 400px;
    height: 200px;
    background-color: rgb(27, 196, 69);
    margin: 0 50px;
    display: inline-block;
}
.inside3{
    width: 200px;
    height: 200px;
    background-color: aqua;
    display: inline-block;
    border-radius: 50%;
}
.outside2{
    width: 100%;
    border: 5px solid black;
    padding: 50px;
    box-sizing: border-box ;
    border: dotted;
    margin-top: 20px;
}
.inside4{
    width: 500px;
    height: 200px;
    background-color: lightgoldenrodyellow;
    border: 5px solid black;
    margin: 0 150px;
    box-shadow: 15px 15px 5px grey
}
.outside3{
    width: 35%;
    height: 200px;
    border: 2px solid lightgray;
    padding: 50px;
    box-sizing: border-box ;
    margin-top: 20px;
    margin-left: 300px;
    box-shadow: 10px 10px 3px lightgray
}
.outside3 h1{
    width: 100%;
    text-align: center;
    color: navy;
    letter-spacing: 10px;
}